<div id='cssmenu'>
	<ul>	
	   <li>
	   		<% if controller_name != 'sessions' %>
		   		<% if user_signed_in? %>
					  <%= link_to('<span>Logout</span>'.html_safe, destroy_user_session_path, method: :delete) %>        
					<% else %>
					  <%= link_to('<span>Login</span>'.html_safe, new_user_session_path)  %>  
					<% end %>
				<% end %>	
			</li>
	   	<li>
		   	<%- if devise_mapping.registerable? && controller_name != 'registrations' && !current_user %>
				  <%= link_to '<span>Sign Up</span>'.html_safe, new_registration_path(resource_name) %>
				<% end -%>
	   </li>
	</ul>
</div>